/*
    GENERAL
*/

/* Reduce hr height */
hr.my-3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

/*
    POST-LISTING
*/

.post-listing {
  line-height: 1.25;

  .post-title h5 {
    margin: 0;
  }

  .post-title + p {
    padding-top: 0.125rem !important;
    padding-bottom: 0.125rem !important;
  }

  .community-link {
    padding-left: 0.125rem;
  }

  .person-listing {
    padding-right: 0.125rem;
  }

  ul.list-inline {
    &.mt-2 {
      margin-top: 0.125rem !important;
    }
    &.mb-1 {
      margin-bottom: 0.125rem !important;
    }
  }

  .btn-sm {
    --bs-btn-padding-y: 0;
  }
  .img-icon {
    display: none;
  }
}

/*
    RBLIND THEME
*/

small,
.small {
  font-size: 1.25rem !important;
}

.post-listing p {
  line-height: 1.5em !important;
  margin-bottom: 1.5em !important;
}

.card-text {
  line-height: 1.5em;
}

.card,
.card-body {
  color: var(--bs-gray-200) !important;
  background-color: var(--bs-gray-800) !important;
  border-radius: var(--bs-border-radius);
}

.card .btn-outline-dark {
  color: var(--bs-gray-200) !important;
}

/* reduce padding on posts */
.post-listing {
  padding: 0.1rem 0.25rem 0.1rem 0.25rem; /* default value is 1.5rem */
}

.post-title + p.small {
  margin-bottom: 0.75rem !important;
}

/* image margin on Image Posts */
.offset-sm-3 {
  margin-left: 0% !important;
  margin-right: 25% !important;
}

/* the navigation bar left margin is set to auto which at some resolutions will add extra padding unless you add the below */
.container-lg {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* give skip-link the same focus style as .btn:focus-visible */
.skip-link:focus,
.skip-link:focus-visible {
  top: 0.25rem;
  left: 0.25rem !important;
  text-decoration: underline;
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

/* force the skip link out of view until focused */
.skip-link {
  top: -60px;
}

/* Buttons */
.btn {
  border-radius: 0.5rem;
}

/* buttons on posts */
/* --bs-secondary-color is the button colour */
/* original opacity was 0.75 */

.btn-sm,
.btn-group-sm > .btn,
.btn,
a.sort-select-icon .icon,
a[title="RSS"] .icon,
a[title="sorting help"] .icon,
.inbox
  .private-message
  ul.list-inline.mb-0.text-muted.small
  li:last-child
  .icon,
.navbar-toggler .icon,
#navMessages {
  padding: 0.7rem 0.7rem !important;
  outline: 1px solid rgba(var(--gray-200-rgb), var(--icon-outline-opacity)) !important;
}

/* Fix box model of the icon in the inbox and round the outline */
/* and the navbar-toggler which is also missing a btn style */
.inbox
  .private-message
  ul.list-inline.mb-0.text-muted.small
  li:last-child
  .icon,
.navbar-toggler .icon {
  box-sizing: content-box;
  border-radius: var(
    --bs-border-radius
  ); /* must refer to border-radius as --bs-border-radius */
}

/* Fix colour inheritance problem with the icon on the inbox page (show/hide svg which is missing a .btn class) */
/* color is determined by fill: currentColor which points to black on this particular icon for some reason */
.inbox
  .private-message
  ul.list-inline.mb-0.text-muted.small
  li:last-child
  .icon {
  color: rgba(var(--gray-200-rgb), 0.75);
}

/* fix text-muted which is too light on light theme */
.text-muted {
  color: var(--bs-secondary-color) !important;
}

/* remove padding from the navbar toggler */
/* must have !important */
/* there seem like there are two navbar Messages, one for desktop and one for mobile, so need to overwrite the styling of the mobile one */
/* navmessages has multiple instances of padding */
.navbar-toggler,
#navMessages a,
#navMessages {
  padding: 0rem !important;
  outline: 0rem !important;
}

/* remove the outline from the navbar-toggler .icon */
.navbar-toggler .icon {
  outline: 0rem !important;
}

/* Change visited link colour due to low contrast default is --bs-gray */
.post-title a:visited:not(:hover) {
  color: var(--bs-gray-500) !important;
}

/* fix bug in light mode where post titles and links become invisible due to a white color */
.link-dark {
  color: var(--bs-gray-200) !important;
  text-decoration-color: RGBA(
    var(--bs-gray-200),
    var(--bs-link-underline-opacity, 1)
  ) !important; /* need to define text-underline too */
}

/* change the link primary colour only for post titles */
.post-title .link-primary {
  color: var(--bs-info) !important;
}

/* change hover link colours */
.link-dark:hover,
.link-dark:focus,
.link-primary:hover,
.link-primary:focus {
  color: var(--bs-gray-200) !important;
}

/* fix poor contrast on navigation tabs Site Configuration page */
.navbar,
.nav-link {
  color: rgba(var(--bs-white-rgb), 0.8); /* original opacity was 0.6 */
}

/* fix low contrast on light theme nav link hover */
.nav-link:hover,
.nav-link:focus {
  color: var(--bs-gray-200);
  border-color: var(--bs-white) !important;
}

.btn:disabled,
fieldset:disabled .btn {
  font-style: italic;
  background-color: var(--bs-gray-200);
  color: var(--bs-black) !important; /* prevent overwriting by other classes */
}

.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.8; /* default is 0.5 */
  font-style: italic;
}

/* The Language Select select option buttons can be made larger as they are set to overflow, but others cannot be changed. */
select option {
  padding: 0.7rem 0.7rem !important;
}

/* reduce padding next to the up and downvote container */
article.post-container > .flex-grow-0 {
  padding: 0.25rem;
}

/* give the svg icon links a focus indicator like other elements */
/* include the navbar toggler since it has a unique focus indicator */
a.sort-select-icon:focus svg,
a[title="RSS"]:focus svg,
a[title="sorting help"]:focus svg,
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}
/* navbar toggler focus ring default is box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width); */

/* no outline on navigation bar buttons only */
nav a.nav-link .icon {
  padding: 0.7rem 0.7rem !important;
}

/* when interacting with a label with a checkbox, change the cursor */
.form-check > * {
  cursor: pointer;
}

.form-check[disabled] > * {
  cursor: default;
}

/* change Browse... button */
.form-control::file-selector-button {
  background-color: var(--bs-gray-800);
}

/* fix the hover style for the same button */
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: var(--bs-gray-700);
}

/* Remove the opacity from the mini overlay so the icons have higher contrast */
.mini-overlay {
  background: var(--bs-gray-900);
  background-color: var(--bs-gray-900);
}

/* Fix colour contrast on the .mark class */
.mark {
  color: var(--bs-white);
  background-color: var(--bs-gray-800);
}

/* Redefine Atom One styles */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: var(--bs-gray-200) !important;
  background: var(--bs-black) !important;
}
.hljs-comment,
.hljs-quote {
  color: var(--bs-black) !important;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: var(--bs-teal) !important;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: var(--bs-red) !important;
}
.hljs-literal {
  color: var(--bs-cyan) !important;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: var(--bs-green) !important;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: var(--bs-orange) !important;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: var(--bs-blue) !important;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--bs-yellow) !important;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}

.hljs-link {
  text-decoration: underline;
}

/* Give the text !main@blind.com search field snippet a darker background in the spirit of .hljs for code */
code.user-select-all {
  background-color: var(--bs-black);
}

.btn-sm .icon,
.btn-group-sm > .btn .icon,
.btn .icon,
a.sort-select-icon .icon,
a[title="RSS"] .icon,
a[title="sorting help"] .icon,
nav a.nav-link .icon {
  height: 1em;
  font-size: 1.2em !important;
}

/* 0.5rem is a bit small but fits on a big screen */
nav ul#navbarLinks a.nav-link,
nav ul#navbarIcons a.nav-link[title="Login"],
nav ul#navbarIcons a.nav-link[title="Sign Up"] {
  margin-right: 0.75rem !important;
}

/* The text links in the navigation bar should have enough padding to ensure their target size is large enough */
/* but also the padding should align the text with the Lemmy community banner and the Support Lemmy icon button */
nav ul#navbarLinks a.nav-link,
nav ul#navbarIcons a.nav-link {
  padding: 0.9rem 0rem 0.1rem 0rem !important;
}

/* The Log in and Sign Up are slightly misaligned, this fixes it */
nav ul#navbarIcons a.nav-link[title="Login"],
nav ul#navbarIcons a.nav-link[title="Sign Up"] {
  padding: 0.7rem 0rem 0.3rem 0rem !important;
}

/* The Support lemmy link should not have extra padding */
nav ul#navbarLinks li:last-child a.nav-link {
  padding: 0rem 0rem 0rem 0rem !important;
}

/* treat the navbar icons differently */
nav ul#navbarIcons a.nav-link {
  padding: 0rem 0rem 0rem 0rem !important;
  margin: 0rem 0.5rem 0rem 0rem !important;
}

/* overwrite button focus */
.btn:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

/* give form controls an outline to meet 3:1 contrast requirement */
.form-control,
.form-select {
  border: var(--bs-border-width) solid var(--bs-gray-600) !important; /* 100 higher than the checkbox outline - may be too low when disabled */
}

.form-select:focus,
.form-control:focus {
  border-color: var(--rblind-focus-indicator);
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

/* to prevent :dark or :light theme overwrite */
a {
  color: var(--bs-info);
}

.placeholder {
  opacity: 1; /* default is 0.5 */
}

.form-control::placeholder {
  color: var(--bs-gray-500);
}

/* margin that determines the automatic spacing */
nav ul#navbarLinks {
  margin-right: auto !important;
}

/* Align navigation links */
/* specify nav or will apply to footer */
nav ul#navbarLinks a.nav-link,
nav ul#navbarIcons a.nav-link[title="Login"],
nav ul#navbarIcons a.nav-link[title="Sign Up"] {
  font-size: 0.9rem !important;
}

/* Donate to Lemmy button sticks out from the rest */
nav ul#navbarLinks li:last-child a.nav-link {
  margin-top: 0.4rem;
}

a.sort-select-icon .icon,
a[title="RSS"] .icon,
a[title="sorting help"] .icon,
a.nav-link .icon {
  box-sizing: content-box !important;
}

.comment-bottom-btns .btn,
.post-title + div + div .btn,
.post-title + p + div + div .btn,
.comment .btn {
  margin-right: 0.25rem;
}

a.person-listing ~ span + .btn,
a.person-listing + .btn,
.post-title .btn,
.card-header .btn {
  margin-left: 0.25rem;
}

/* increase bottom margin of post-title */
.post-title,
.post-title + div,
.post-title + p + div {
  margin-bottom: 0.5rem !important;
}

/* Layout */
/* remove the left margin on large layouts for Create Communities and Create Post pages */
/* breakpoint is 1200px */
.offset-lg-3 {
  margin-left: 0% !important; /* default is 25% */
}

/* make navbar taller on small screens so border-box does not overlap */
@media (max-width: 1200px) {
  #navbar {
    padding-top: 0.25rem !important;
  }
}

/* Make forms take up more space in the screen so labels aren't flowing onto a new line */
@media (min-width: 1200px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 70% !important; /* default value is 50% */
  }
}

/* make sure the navigation bar wraps properly with the larger font sizes */
@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    flex-wrap: wrap !important;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    flex-wrap: wrap !important;
  }
}

/* make the main content area "home container-lg" become 100% instead of stuck at 940px */

@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 100% !important;
  }
}

/* very long usernames or domains should overflow onto the next line */
/* only the domain will overflow */
.person-listing picture + span + small {
  word-break: break-all; /* no default value */
}

/* stop community names from breaking up into letters */
@media (max-width: 430px) {
  .community-link .overflow-wrap-anywhere {
    overflow-wrap: break-word;
  }

  .community-link picture,
  .community-link small.text-muted {
    display: block;
  }

  /* try give more space in the table by breaking the headers instead */
  #community_table th.text-right {
    overflow-wrap: anywhere;
  }
}

/* stop flex display from making overflowing letters from becoming stuck in their containers */
.person-listing {
  display: inline !important;
}

/* increase the size of the thumbnail in the home feed */
.thumbnail {
  width: 9rem; /* default value 5rem; */
  height: 9rem; /* default value is 5rem; */
  outline: 1px solid var(--bs-gray-600);
}

/* add spacing above and below the vote number */
.post-score {
  margin-top: 0.25rem; /* no default value */
  margin-bottom: 0.25rem;
}

/* align the vote up button with the top of the container */
.vote-bar {
  margin-top: 0px; /* original -6.5px */
}

/* add spacing above and below the post */
.post-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* change the Comments / unselected tab focus outline to be the same as the others */
.btn-check:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important; /* --bs-btn-focus-box-shadow default */
}

/* change secondary buttons (e.g. Next on home page) to have the same box-shadow focus indicator colour */
.btn-secondary:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important; /* --bs-btn-focus-box-shadow default */
}

/* Change the colour of the focus indicator on Languages select cross button on Create Community page */
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important;
}

/* Ensures the currently selected tab  (Posts) focus indicator is the same as the others */
.btn-check:checked:focus-visible + .btn {
  box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important; /* --bs-btn-focus-box-shadow default */
}

/* Added everything after .downvote:hover so the effects apply to when the button area is hovered not just the icon */
/* Also made this happen on focus too */
.downvote:hover,
.btn:hover .downvote,
.btn:focus .downvote,
.downvote:focus,
.btn:focus .downvote,
.btn:focus .downvote {
  color: var(--bs-danger);
}

.upvote:hover,
.btn:hover .upvote,
.btn:focus .upvote,
.upvote:focus,
.btn:focus .upvote,
.btn:focus .upvote {
  color: var(--bs-info);
}

/* add underlines to links */
main a {
  text-decoration: underline;
}

/* make sure links that appear as buttons don't have an underline */
main a.btn {
  text-decoration: none;
}

/* remove underline from post title to improve legibility */
.post-title a,
.post-metadata-card .card-body .card-title a {
  text-decoration: none;
}

.communities a,
.person-listing a small {
  text-decoration-color: rgba(
    var(--bs-link-color-rgb),
    var(--bs-link-opacity, 1)
  ) !important;
}

/* make post title link underline and link post link underline the same as the text when visited */
.post-title a:visited:not(:hover),
.post-title + p a:visited:not(:hover) {
  text-decoration-color: var(
    --bs-gray
  ) !important; /* the visited underline is otherwise not the same colour as the text */
}

/* Fix text decoration contrast on light mode */
.link-dark:hover,
.link-dark:focus {
  text-decoration-color: var(--bs-gray-200) !important;
}

/* make sure the toggle button in the sidebar "Subscribed" does not overflow the container */
#sidebarSubscribedHeader {
  flex-wrap: wrap;
}

/* overwrite h6 value in post since without this it is larger than h5 */
.md-div h6 {
  font-size: 1.1rem;
}

/* increase the spacing between wrapping list buttons in the sidebar */
.community-sidebar ul li .btn {
  margin-bottom: 0.25rem;
}

/* improve the contrast of the post and comment dividers */
hr {
  border-top: var(--bs-border-width) solid var(--divider);
  opacity: 1;
}

li.comment article.comment-node.border-top {
  border-top-color: var(--divider) !important;
}

/* Change the OP colour to something different than link colours */
span[aria-label="creator"] {
  color: var(--bs-white) !important;
  border-color: var(--bs-white) !important;
}
