@import "../../../../node_modules/bootstrap-v4/scss/_functions";
@import "../../../../node_modules/bootstrap-v4/scss/_variables";

// Colors
$gray-200: #e9ecef;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #222;
$red: #d8486a;
$orange: #f1641e;
$cyan: #02bdc2;
$green: #00c853;
$primary: $orange;
$secondary: $green;
$link-color: $primary;
$success: $indigo;
$info: $blue;
$body-color: $gray-700;
$body-bg: #fff;
$card-color: $gray-700;
$card-cap-color: $gray-700;
$danger: darken($primary, 25%);
$card-bg: $gray-100;
$border-color: $gray-700;
$mark-bg: rgb(255, 252, 239);
$headings-color: $gray-700;

$navbar-light-color: $gray-600;
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;
$navbar-dark-toggler-border-color: rgba($black, 0.1);

$border-radius: 0.5rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 1rem;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Droid Sans",
  "Segoe UI", "Helvetica", Arial, sans-serif;
$input-btn-focus-color: rgba($primary, 0.75);
$form-feedback-valid-color: $info;
$font-weight-bold: 600;
$rounded-pill: 0.25rem;
