@import "./variables";

// Colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #222;

$blue: #007bff;
$indigo: #6610f2;
$red: #d8486a;
$orange: #f1641e;
$green: #00a846;
$cyan: #02bdc2;

$primary: $orange;
$secondary: $green;
$success: $indigo;
$info: $blue;
$danger: darken($primary, 25%);

$body-color: $gray-700;
$body-bg: #fff;
$link-color: $primary;
$border-color: rgba($body-color, 0.25);
$mark-bg: rgb(255, 252, 239);
$headings-color: $gray-700;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Droid Sans",
  "Segoe UI", "Helvetica", Arial, sans-serif;
$font-weight-bold: 600;

$card-color: $gray-700;
$card-cap-color: $gray-700;
$card-bg: $gray-100;

$navbar-dark-toggler-border-color: rgba($black, 0.1);
$navbar-light-color: $gray-600;
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;

$form-feedback-valid-color: $info;
$input-btn-focus-color: rgba($primary, 0.75);

$border-radius: 0.5rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 1rem;
$rounded-pill: 0.25rem;
