@import "./variables";
@import "./variables.litely";

/* 
RBLIND THEME
*/
$font-family-sans-serif: Verdana, sans-serif;
$font-family-monospace: "Courier New", monospace;
$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;

$font-size-root: 120%;

:root {
  --rblind-focus-indicator: #7764d8;
  --gray-200-rgb: 21, 21, 21;
  --icon-outline-opacity: 0.7;
  --divider: var(--bs-gray-700);
  --comment-border-width: 2px;
  --comment-node-1-color: #3f003fff;
  --comment-node-2-color: #2c1d77ff;
  --comment-node-3-color: #114c6aff;
  --comment-node-4-color: #166f43ff;
  --comment-node-5-color: #427d24ff;
  --comment-node-6-color: #87782dff;
  --comment-node-7-color: #c46d6dff;
}

// Breakpoints
// Override default BT variables:
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1900px,
  xxl: 2200px,
);

// override default BT container sizes
$container-max-widths: (
  sm: 960px,
  md: 1140px,
  lg: 1920px,
  xl: 2200,
  xxl: 2400,
);

// $navbar-brand-padding-y: 0.25rem;

// rBlind Colours
// Colors
$white: #030303ff; // bs-white, bs-emphasis, bs-table, border-white, text-light
$gray-200: #131313ff; // secondary button background
$gray-300: #242424ff; // bs-dark, bs-dark-emphasis and more
$gray-500: #353535ff; // bs-button-bg, and other button styles, input group text (defined in the class by hex code not variable, bs button disabled, etc
$gray-600: #464646ff; // blockquote footer, disabled form, disabled button, dropdown header colour, bs-gray
$gray-700: #c9c9c9ff; // card header background
$gray-800: #dbdbdbff; // card background, bs-light
$gray-900: #edededff; // Background colour
$black: #ffffffff;

$red: #530d1aff; // bs-danger, danger red, auto converted to rgb values in custom theme
$orange: #7c3e49ff;
$yellow: #5f5525ff; // bs-warning
$green: #0c5625ff; // form check input background and border
$teal: #1f4d45ff; // more green than teal
$cyan: #1b3e76; // bs-info
$blue: #332288ff; // bs-blue

$danger: $red;
$info: $cyan;

$primary: $green;
$secondary: $gray-200; // changed for light
$success: $green;
// $secondary-color: $secondary !important; // causing bugs with icon

$body-color: $gray-300;
$body-bg: $gray-900;
$link-color: $cyan;
$border-color: rgba($body-color, 0.25);
$mark-bg: #333;
$mark-bg-dark: #333;
$yiq-contrasted-threshold: 175;

// Custom RBlind Colours
$box-shadow: 0 0 0 0.25rem var(--rblind-focus-indicator) !important; //--bs-btn-focus-box-shadow default
$focus-ring-color: var(--rblind-focus-indicator);
$form-check-input-checked-color: $gray-900; // change checkbox check from white to black
$dropdown-link-active-color: $gray-900;
$dropdown-link-active-bg: $gray-200;
$dropdown-link-hover-bg: $gray-200;
$dropdown-link-hover-color: $gray-900;
$code-color: $yellow;
$border-color: $gray-500 !important;
$nav-tabs-link-active-color: $white; // for light theme only
$table-color: $gray-200;
$btn-disabled-color: $gray-200;
$btn-disabled-opacity: 0.8;
$enable-dark-mode: false; // disable data-bs-theme="dark"
$enable-light-mode: true; // enable data-bs-theme="light"
