.skeleton-pulse {
  animation: skeleton-loading 1s linear infinite alternate;
}

.post-line-loading-skeleton {
  height: 1.5rem;
  border-radius: 4px;
  margin-bottom: 4px;
}

/* TODO: animation should have different colors for the bright theme */
/*  should be something like [data-bs-theme=dark] { } */
/*  also, maybe you shouldn't animate the background-color, but rather the opacity */
@keyframes skeleton-loading {
  0% {
    background-color: #444;
  }

  100% {
    background-color: #6a6a6a;
  }
}
