.skeleton-pulse {
  animation: skeleton-loading 1.2s linear infinite alternate;
}

.skeleton-pulse[data-bs-theme="dark"] {
  background-color: #5a5a5a;
}

.skeleton-pulse[data-bs-theme="light"] {
  background-color: #dadada;
}

.trending-community-icon-skeleton {
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.post-line-loading-skeleton {
  height: 1.5rem;
  margin-bottom: 4px;
}
@keyframes skeleton-loading {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 35%;
  }
}
